.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    position: sticky;
}
.ul1{
    display: flex;
    list-style: none;
    gap: 20px;

}
.ul2{
    display: flex;
    list-style: none;
    gap: 10px;
}
 .div1{
    background-image: url(old-youth-ati-suuTe0I-unsplash.jpg);
/* height: 500px; */
background-size: cover;
font-family: "Roboto", serif;
box-sizing: border-box;

    
} 
.a1{
    padding: 100px;
    
}
.a2{
    margin-top: -100px;
}
.a3{
    margin-top: -100px;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
    border-right: none;
    border-left: none;
    padding: 6px 19px;
}
.a5{
    margin-top: -25px;
}
.div2{
    font-family: "Roboto", serif;
}
.b1{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.sec2{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(3,auto);
    font-family: "Roboto", serif;

}
.sec3{
    font-family: "Montserrat", sans-serif;

}
.sec4{
    display: grid;
    padding-left: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
}
.sec5ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.sec5l1{
    text-decoration: underline;
}
.sec6{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(3,auto);
    font-family: "Roboto", serif;

}
.sec7a1{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.sec8{
    border: 5px solid orangered;
}
.sec8a1{
    border-top: none;
    border-left: none;
    border-right: none;
    border: 2px solid orangered;
    text-align: center;
}
.sec8a2{
    background-color: orangered;
    color: white;
    border: none;
}
