.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    position: sticky;
}
.ul1{
    display: flex;
    list-style: none;
    gap: 20px;

}
.ul2{
    display: flex;
    list-style: none;
    gap: 10px;
}
 .div1{
    background-image: url(old-youth-ati-suuTe0I-unsplash.jpg);
/* height: 500px; */
background-size: cover;
font-family: "Roboto", serif;
box-sizing: border-box;

    
} 
.a1{
    padding: 100px;
    
}
.a2{
    margin-top: -100px;
}
.a3{
    margin-top: -100px;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: transparent;
    border-right: none;
    border-left: none;
    padding: 6px 19px;
}
.a5{
    margin-top: -25px;
}
.div2{
    font-family: "Roboto", serif;
}
.b1{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.sec2{
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(3,auto);
    font-family: "Roboto", serif;

}
.sec3{
    font-family: "Montserrat", sans-serif;

}
.sec4{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
}
.d1{
    background-image: url(p1.jpg);
}
.d2{
    background-image: url(p2.jpg);
}
.d3{
    background-image: url(p3.jpg);
}
.d4{
    background-image: url(p4.jpg);
}
.d5{
    background-image: url(p5.jpg);
}
.d6{
    background-image: url(p6.jpg);
}
